* {
  color: white;
}
body {
  background-color: rgb(208, 0, 255);
}

input {
  color: black;
}
button {
  color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.clasnameadi {
  color: black;
  background-color: red;
}
